@model GYM_MANAGEMENT_SYSTEM.ViewModels.ChatViewModel

<h2>Gym AI Assistant</h2>

<form method="post">

    <div class="mb-3">

        <label>Câu hỏi</label>

        <input asp-for="Question"
               class="form-control" />

    </div>

    <button type="submit"
            class="btn btn-primary">
        Gửi
    </button>

</form>

@if (!string.IsNullOrEmpty(Model.Answer))
{
    <hr />

    <h4>Trả lời:</h4>

    <div class="alert alert-success">
        @Model.Answer
    </div>
}
<hr />

    <h3>Lịch sử hội thoại</h3>
    <div id="chat-container"
     style="height:500px;
            overflow-y:auto;
            border:1px solid #ddd;
            padding:20px;">
     </div>
    @foreach (var item in Model.Histories)
    {
        <div class="card mb-3">
            <div class="card-body">

                <div class="mb-2 text-end">
                    <div class="d-inline-block p-3 rounded bg-primary text-white">
                        @item.Question
                    </div>
                </div>

                <div class="mb-3 text-start">
                    <div class="d-inline-block p-3 rounded bg-light border">
                        @item.Answer
                    </div>
                </div>

                <small>
                    @item.CreatedAt.ToLocalTime()
                </small>

            </div>
        </div>
    }
}